.header {
    padding: 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    max-width: 100vw;
    box-shadow: none;
}
.header__logo {
    line-height: 0;
}
nav .sidenav-trigger {
    color: #fd5444;
    margin-left: 50% !important;
}
nav {
    background-color: white !important;
    color: black;
}

ul a {
    color: #241815 !important;
    font-size: 14px;
}
ul  a:hover {
    color: #7c7c7c !important;
}
.dropdown-content {
    min-width: 150px !important;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.header .btn  {
    border-radius: 0;
    background-color: #fd5444;
    color: white !important;
}

.header .btn:hover {
    background-color: #fd5344be !important;
}
